{{#each data}}

  <tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.author}}</td>
    <td>{{this.enrolmentNumber}}</td>
    <td>{{this.req}}</td>

    <td>{{this.available}}</td>

    <td><button
        id="accept-btn"
        onclick="acceptId({{this.id}}, {{this.type}}, {{this.enrolmentNumber}}, {{this.available}})"
      >Accept</button></td>
    <td><button
        id="deny-btn"
        onclick="denyId({{this.id}}, {{this.status}}, {{this.enrolmentNumber}})"
      >Deny</button></td>

  </tr>

{{/each}}